// Fonts //
// Font import happens at the top, in base
@mixin font-body($weight: 400) {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: $weight;
}
@mixin font-title {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
}
@mixin font-logo {
  font-family: 'IBM Plex Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}
@mixin font-mono {
  font-family: 'Inconsolata', monospace;
  text-transform: uppercase;
  letter-spacing: 5px;
}

// Colors //
// Color Vars
$clear-color: rgba(255,255,255,0.15);
$shade-color: rgba(0,0,0,0.35);
$dark-shade-color: rgba(0,0,0,0.75);
$white: #ffffff;
$off-white: #f0f0f0;
$light: #bdbdbd;
$light-gray: #9a9a9a;
$gray: #575757;
$dark: #232323;
$black: #000000;
$danger: #b63737;
$red: #dd1111;
$dark-red: #a00000;
$blue: rgba(61, 146, 224, 1.0);
$green: #38c46d;
$teal: rgba(80, 201, 195, 1.0);

// CSS Color definitions
.cltgray { color: $light-gray; }
.cgray { color: $gray; }
.cred { color: $red; }
.cdark { color: $dark; }
.cblack { color: $black; }

// Color pointers
$primary: $teal;
$links: $primary;

$nav-bg: $dark;
$nav-font: $red;
$nav-border: $black;

$header-font-color: $light;
$header-bg-color: $dark;
$main-font-color: $white;
$bg-color: $teal;

$footer-background: $dark;
$footer-font-color: $white;

$button-bg-color: $primary;
$border-real: $dark;


// Global //
// Base elements
* { box-sizing: border-box; }

html { font-size: 62.5%;  scroll-behavior: smooth;  }
body {
  @include font-body;
  color: $main-font-color;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, .h1 { font-size: 4.2rem; @include font-title; }
h2, .h2 { font-size: 3.2rem; @include font-title; }
h3, .h3 { font-size: 2.8rem; @include font-title; }
h4, .h4 { font-size: 2.4rem; @include font-title; }
h5, .h5 { font-size: 2.0rem; @include font-title; }
h6, .h6 { font-size: 1.6rem; @include font-title; }

li { font-size: 1.4rem; }
a { 
  text-decoration: none; 
  color: inherit;
  &:hover {
    color: initial;
    text-decoration: none;
  }
}

p {
  font-size: 1.6rem;
  line-height: 1.4;
}
hr { 
  width: calc(100% - 20px);
  margin: 20px auto;
  border-top: 1px solid $light + 75%; 
}

code { 
  font-family: 'Roboto Mono', monospace;
  @include font-mono;
  background-color: $dark-shade-color; 
  color: $white;
  padding: 3px 5px;
  margin: 10px;
  display: block; 
}
.centered { float: none; margin: 0 auto; }
.display-none { display: none; }
em { text-decoration: underline; }
.italic { font-style: italic; }
strong { font-weight: bolder; }

// Grid
.flex-small,
.flex-large {
  padding-left: 1rem;
  padding-right: 1rem; 
}

.flex-small,
.flex-large {
  flex-basis: 100%;
  margin-bottom: 1rem; 
}

.flex-small {
  @media (min-width: 600px) {
    flex: 1 1 0;
    margin-bottom: 0;
  }
}

.flex-large {
  @media (min-width: 1000px) {
    flex: 1 1 0;
    margin-bottom: 0;
  }
}

.flex-row {
  margin-left: -1rem;
  margin-right: -1rem; 
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
}

// Tables
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%; 
}

thead th { border-bottom: 2px solid $off-white; }
tfoot th { border-top: 2px solid $off-white; }
td { border-bottom: 1px solid $off-white; }

th,
td {
  text-align: left;
  padding: .5rem; 
}

caption {
  padding: 1rem 0;
  caption-side: bottom;
  color: $light; 
}

.striped-table tbody tr:nth-child(odd) {
  background-color: $clear-color;
}
